
BLL/bin/*
BLL/obj/*
DLL/bin/*
DLL/obj/*
packages/*
DIT/bin/*
DIT/obj/*
Models/bin/*
Models/obj/*
Bin/*

/.vs/DIT/config/applicationhost.config
/.vs/DIT/v16/.suo

*.dll
*.pdb
DIT/Content/Template/*
DIT/Content/Uploads/ApplicantGrievance/*
DIT/Admission/Content/AppDocuments/*.pdf
*.json
*.log
*.png
*.jpg
*.config
*.csproj
