@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/frontend/css/style1.css" rel="stylesheet" />
<br />
<br />
<style>
    .pt100 {
        padding-left: 100px;
        padding-right: 100px;
    }
    .pt10 {
        padding:30px;
       
    }
    .font {
        font-size: 14px;
        font-weight: 700;
        font-family: Arial, Helvetica,sans-serif;
    }
</style>
<div class="row">
    <div class="pt100 font">
        <p class="text-justify pt10 border">
            <br />
            ABOUT CITE, BANGALORE, KARNATAKA <br>
            Commissioner, Industrial Training and Employment, Bangalore (CITE) Under Ministry of Skill Development Entrepreneurship and Livelihood is the apex organisation for development and coordination at State level for the programmes relating to vocational training including Women's Vocational Training. Industrial Training Institutes are under the administrative and financial control of State Government of Karnataka. We provide Vocational Training Schemes in some of the specialized areas through field institutes under its direct control. Development of these programmes at State level, particularly in the area concerning common policies, common standards and procedures, Appointment of  instructors and coordinating with trade testing Cell, DGT, New Delhi, day-to-day administration of Industrial Training Institutes, Encouraging Industry Tie-Ups are some of the responsibility of the Department.<br />
            Major functions of the DITE, Bangalore are:
            <br />
            <br />
            •	To implement the DGT, New Delhi frame work and overall policies, norms and standards for vocational training.    <br />
            •	To diversify, update and expand training facilities in terms of craftsmen and crafts instructor training.    <br />
            •	To organize and conduct specialized training and research at the specially established training Institutes if any.    <br />
            •	To coordinate implementation, regulation and increase the scope of training of apprentices under the Apprentices Act, 1961.    <br />
            •	To encourage women participation under vocational training programmes as per DGT, New Delhi Policies.    <br />
            •	To provide Skill,  vocational guidance and employment counselling.    <br />
            •	Assist scheduled castes/scheduled tribes and persons with disabilities by enhancing their capabilities for Skill Training and self-employment.    <br />
            The Craftsmen Training Scheme (CTS) for training of skilled craftsmen is implemented through 271 Govt, 193 GIA and 1032 Pvt. Industrial Training Institutes (ITIs) which are under the administrative and financial control of Government of Karnataka. Duration of these training courses varies from 6 Months -2 Years duration, NSQF compliant courses in 63 Trades which includes 45 Engineering trades, 18 Trades in the Non-Engineering Sector and few courses for Persons with Disabilities (PwD)/ Divyangjan. Currently, 01.21 Lakh persons are undergoing training in 1498 ITIs (both Govt. GIA & Pvt.).    <br />
            A provision for supplementing the skills learnt during the ITI training is also available in the form of workplace training through the Apprenticeship Training Scheme (ATS). Also, one of the prime objectives of this scheme is optimal utilization of the infrastructural facilities available in the industry, where the apprenticeship training actually takes place, hence meeting the requirement of skilled manpower for industry.    <br />
            A comprehensive training in STARC Malavalli and ITOT, Davangere, both in skills and training methodology is imparted to those interested in becoming Instructors/ trainers in vocational training institutes, under the Craft Instructor Training Scheme (CITS). The idea is to develop their skills and competencies and make them conversant with the techniques of of transferring hands-on skills to their students. This scheme is implemented through the ITOT, Davanagere.
            They also frame Syllabus under State Council Vocational Training, conduct short duration; specialized and tailor-made courses suiting to the specific requirements of industrial establishments are also offered for upgrading the skills of serving Instructors.<br />
            Further, with an objective to strengthen Industry connect and impart industry relevant training, DITE encourages ITIs to undergo MOU as per DGT, New Delhi Dual System of Training (DST) model wherein the<br /> ITIs are being encouraged to join hands with multiple industry partners for providing mandatory industrial exposure to the trainees during the course of their training. Hence a part of their skill training takes place in the industry environment for providing flexibility to create tailored skilling programmes and prepare the trainees to upgrade themselves according to Industry needs. The Department also encourages Industries to undertake Corporate Social Responsibility (CSR) activities like Audio under its umbrella organisation.<br />

        </p>
    </div>
</div>
<br />
