
@{
    Layout = null;
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <style>
        table, td, th {
            padding: 5px;
            text-align: center;
        }

        .para {
            font-weight: 600;
            text-align: center;
        }
        }
    </style>

</head>

<body >
    <div>
        <center><button onclick="window.print()" class="btn-default"><i class="fa fa-print"></i> Print this page</button></center>
        <h4 style="text-align:center;">STATEMENT OF MARKS FOR A.I.T.T CONDUCTED UNDER AEGIS of N.C.V.T</h4>
        <h5 style="text-align:center;">Acdemic Session-August 2019</h5>
        <h6 style="text-align:center;">Dual System of Training under Craftsmen Training Scheme (CTS)- 02 Year Course (First Year)</h6>
        <br />
        <br />
        <div>
            <div class="col-md-6" style="float:left;">
                <p>Name: ABHISHEK ADINATH BABBAI</p>
                <p>Father/Mother Name: ADINATH</p>
                <p>Trade Name: FITTER</p>
            </div>
            <div class="col-md-6" style=" float:right;">
                <p>Registration/Roll No.: 180829081459</p>
                <p>
                    Date of birth: 11-02-2001
                </p>
                <p>
                    Exam Month-Year: JULY-2019
                </p>
                <p></p>

            </div>
        </div>
        <div class="clearfix"></div>
        <div class="col-md-12">
            <p>ITI name and Address: GOVT I T I (WOMEN) BELGAUM</p>
            <p>Name & Address of Establishment: PRAGATI ENGINEERING BELGAUM PVT LTD.</p>

        </div>
        <div class="clearfix"></div>
        <br />
        <br />

        <div>
            <table class="table-bordered">
                <thead>
                    <tr><th colspan="7">For Engineering trade except Draughtsman Group of Trades</th></tr>
                    <tr>
                        <th>SL No.</th>
                        <th>Paper</th>
                        <th>Subject</th>
                        <th>Max. Marks</th>
                        <th>Min. Pass marks</th>
                        <th>Marks Obt.</th>
                        <th>Total Marks Secured</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>2</td>
                        <td>3</td>
                        <td>4</td>
                        <td>5</td>
                        <td>6</td>
                        <td>7</td>
                    </tr>

                    <tr>
                        <td rowspan="2">1</td>
                        <td rowspan="2">Paper-1</td>
                        <td>TradeTheory</td>
                        <td>500</td>
                        <td rowspan="2">224</td>
                        <td>355</td>
                        <td rowspan="2">402</td>
                    </tr>
                    <tr>

                        <td>Sessional</td>
                        <td>60</td>
                        <td>47</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Paper-2</td>
                        <td>Employability Skill</td>
                        <td>100</td>
                        <td>40</td>
                        <td>70</td>
                        <td>70</td>
                    </tr>
                    <tr>
                        <td rowspan="2">3</td>
                        <td rowspan="2">Paper-3</td>
                        <td>Workshop Cal. & Sc.</td>
                        <td>500</td>
                        <td rowspan="2">108</td>
                        <td>171</td>
                        <td rowspan="2">194</td>
                    </tr>
                    <tr>
                        <td>Sessional</td>
                        <td>30</td>
                        <td>23</td>
                    </tr>
                    <tr>
                        <td rowspan="2">4</td>
                        <td rowspan="2">Paper-4</td>
                        <td>Eng. Drawing</td>
                        <td>240</td>
                        <td rowspan="2">120</td>
                        <td>168</td>
                        <td rowspan="2">215</td>
                    </tr>
                    <tr>
                        <td>Sessional</td>
                        <td>60</td>
                        <td>47</td>
                    </tr>
                    <tr>
                        <td rowspan="2">5</td>
                        <td rowspan="2">Practical-1</td>
                        <td>Trade Practical</td>
                        <td>150</td>
                        <td rowspan="2">102</td>
                        <td>121</td>
                        <td rowspan="2">137</td>
                    </tr>
                    <tr>
                        <td>Sessional</td>
                        <td>20</td>
                        <td>16</td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <th colspan="2"></th>
                        <th>TOTAL</th>
                        <th>1400</th>
                        <th>594</th>
                        <th>1018</th>
                        <th>1018</th>
                    </tr>

                </tfoot>
            </table>
        </div>
        <br />
        <br />
        <div class="col-md-12">
            <h4>RESULT : PASS</h4>
            <p>Note: Minimum pass marks for Paper-1 Paper-2 and Paper-3 Overall 40% and for Pratical - Overall 60%</p>
        </div>
        <br />
        <br />
        <br />
        <br />
        <div class="row">
            <div class="col-md-3 col-sm-3 col-xs-3"><p class="para">Prepared by (ITI/State/ UT) (NVTI/RTI)</p></div>
            <div class="col-md-3 col-sm-3 col-xs-3"><p class="para">Checked by</p></div>
            <div class="col-md-3 col-sm-3 col-xs-3"><p class="para">Signature of Principal(ITI)/ Incharge of CTS at VTI/RVTI</p></div>
            <div class="col-md-3 col-sm-3 col-xs-3"><p class="para">State Director Principal (NVTI / RTI)</p></div>
        </div>

    </div>
</body>
</html>


@*<script>
    window.addEventListener("load", window.print());
</script>*@

