
/**
 * @file
 * Generic theme-independent base styles.
 */

/**
 * Autocomplete.
 *
 * @see autocomplete.js
 */
/* Suggestion list */
#autocomplete {
    border: 1px solid;
    overflow: hidden;
    position: absolute;
    z-index: 100;
}

    #autocomplete ul {
        list-style: none;
        list-style-image: none;
        margin: 0;
        padding: 0;
    }

    #autocomplete li {
        background: #fff;
        color: #000;
        cursor: default;
        white-space: pre;
        zoom: 1; /* IE7 */
    }
/* Animated throbber */
html.js input.form-autocomplete {
    background-image: url(../../misc/throbber-inactive.png);
    background-position: 100% center; /* LTR */
    background-repeat: no-repeat;
}

html.js input.throbbing {
    background-image: url(../../misc/throbber-active.gif);
    background-position: 100% center; /* LTR */
}

/**
 * Collapsible fieldsets.
 *
 * @see collapse.js
 */
html.js fieldset.collapsed {
    border-bottom-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    height: 1em;
}

    html.js fieldset.collapsed .fieldset-wrapper {
        display: none;
    }

fieldset.collapsible {
    position: relative;
}

    fieldset.collapsible .fieldset-legend {
        display: block;
    }

/**
 * Resizable textareas.
 *
 * @see textarea.js
 */
.form-textarea-wrapper textarea {
    display: block;
    margin: 0;
    width: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.resizable-textarea .grippie {
    background: #eee url(../../misc/grippie.png) no-repeat center 2px;
    border: 1px solid #ddd;
    border-top-width: 0;
    cursor: s-resize;
    height: 9px;
    overflow: hidden;
}

/**
 * TableDrag behavior.
 *
 * @see tabledrag.js
 */
body.drag {
    cursor: move;
}

.draggable a.tabledrag-handle {
    cursor: move;
    float: left; /* LTR */
    height: 1.7em;
    margin-left: -1em; /* LTR */
    overflow: hidden;
    text-decoration: none;
}

a.tabledrag-handle:hover {
    text-decoration: none;
}

a.tabledrag-handle .handle {
    background: url(../../misc/draggable.png) no-repeat 6px 9px;
    height: 13px;
    margin: -0.4em 0.5em; /* LTR */
    padding: 0.42em 0.5em; /* LTR */
    width: 13px;
}

a.tabledrag-handle-hover .handle {
    background-position: 6px -11px;
}

div.indentation {
    float: left; /* LTR */
    height: 1.7em;
    margin: -0.4em 0.2em -0.4em -0.4em; /* LTR */
    padding: 0.42em 0 0.42em 0.6em; /* LTR */
    width: 20px;
}

div.tree-child {
    background: url(../../misc/tree.png) no-repeat 11px center; /* LTR */
}

div.tree-child-last {
    background: url(../../misc/tree-bottom.png) no-repeat 11px center; /* LTR */
}

div.tree-child-horizontal {
    background: url(../../misc/tree.png) no-repeat -11px center;
}

.tabledrag-toggle-weight-wrapper {
    text-align: right; /* LTR */
}

/**
 * TableHeader behavior.
 *
 * @see tableheader.js
 */
table.sticky-header {
    background-color: #fff;
    margin-top: 0;
}

/**
 * Progress behavior.
 *
 * @see progress.js
 */
/* Bar */
.progress .bar {
    background-color: #fff;
    border: 1px solid;
}

.progress .filled {
    background-color: #000;
    height: 1.5em;
    width: 5px;
}

.progress .percentage {
    float: right; /* LTR */
}
/* Throbber */
.ajax-progress {
    display: inline-block;
}

    .ajax-progress .throbber {
        background: transparent url(../../misc/throbber-active.gif) no-repeat 0px center;
        float: left; /* LTR */
        height: 15px;
        margin: 2px;
        width: 15px;
    }

    .ajax-progress .message {
        padding-left: 20px;
    }

tr .ajax-progress .throbber {
    margin: 0 2px;
}

.ajax-progress-bar {
    width: 16em;
}

/**
 * Inline items.
 */
.container-inline div,
.container-inline label {
    display: inline;
}
/* Fieldset contents always need to be rendered as block. */
.container-inline .fieldset-wrapper {
    display: block;
}

/**
 * Prevent text wrapping.
 */
.nowrap {
    white-space: nowrap;
}

/**
 * For anything you want to hide on page load when JS is enabled, so
 * that you can use the JS to control visibility and avoid flicker.
 */
html.js .js-hide {
    display: none;
}

/**
 * Hide elements from all users.
 *
 * Used for elements which should not be immediately displayed to any user. An
 * example would be a collapsible fieldset that will be expanded with a click
 * from a user. The effect of this class can be toggled with the jQuery show()
 * and hide() functions.
 */
.element-hidden {
    display: none;
}

/**
 * Hide elements visually, but keep them available for screen-readers.
 *
 * Used for information required for screen-reader users to understand and use
 * the site where visual display is undesirable. Information provided in this
 * manner should be kept concise, to avoid unnecessary burden on the user.
 * "!important" is used to prevent unintentional overrides.
 */
.element-invisible {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
    overflow: hidden;
    height: 1px;
}

    /**
 * The .element-focusable class extends the .element-invisible class to allow
 * the element to be focusable when navigated to via the keyboard.
 */
    .element-invisible.element-focusable:active,
    .element-invisible.element-focusable:focus {
        position: static !important;
        clip: auto;
        overflow: visible;
        height: auto;
    }

/**
 * Markup free clearing.
 *
 * @see http://perishablepress.com/press/2009/12/06/new-clearfix-hack
 */
.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
/* IE6 */
* html .clearfix {
    height: 1%;
}
/* IE7 */
*:first-child + html .clearfix {
    min-height: 1%;
}

/*
 * @file
 * global.base
 *
 * - normalize with small modifications for Drupal and AT: http://necolas.github.com/normalize.css/
 * - Gutter widths, see $gutter-width in _custom.scss
 * - Default container alignment.
 * - Flexible images and media declarations.
 * - Copies of the SCSS mixins for reference, which includes an improved
 *   element-invisible and focusable styles.
 */
/* =============================================================================
    HTML5 display definitions
   ========================================================================== */
/*
 * Corrects block display not defined in IE6/7/8/9 & FF3
 */






@font-face {
    font-family: 'open_sansregular';
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SourceSansProRegular';
}


@font-face {
    font-family: 'source_sans_prolight';
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SourceSansProLightIt';
}

@font-face {
    font-family: 'source_sans_prolight';
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SourceSansProExtraLight';
}

@font-face {
    font-family: 'roboto_slabbold';
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'latolight';
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'latoregular';
    font-weight: normal;
    font-style: normal;
}



/** RESET CSS     ***/


article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

    nav ul {
        list-style: none;
        position: relative;
    }

blockquote, q {
    quotes: none;
}

    blockquote:before, blockquote:after,
    q:before, q:after {
        content: '';
        content: none;
    }

a {
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    background: transparent;
    text-decoration: none;
    color: rgb(27,27,27);
}

    a:focus,
    a:hover {
        color: #4f76b1;
    }

/* change colours to suit your needs */
ins {
    background-color: #ff9;
    color: #000;
    text-decoration: none;
}

/* change colours to suit your needs */
mark {
    background-color: #ff9;
    color: #000;
    font-style: italic;
    font-weight: bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom: 1px dotted;
    cursor: help;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #cccccc;
    margin: 1em 0;
    padding: 0;
}

input, select {
    vertical-align: middle;
}

.calendar-calendar .single-day.red {
    background: none repeat scroll 0 0 #fb6e6e;
}

.calendar-calendar .single-day.green {
    background: none repeat scroll 0 0 #75ce75;
}

.calendar-calendar .red {
    background: none repeat scroll 0 0 #fb6e6e;
}

    .calendar-calendar .red.green {
        background: none repeat scroll 0 0 #fb6e6e;
    }

.calendar-calendar .date-box.red.green {
    background: none repeat scroll 0 0 #fb6e6e;
}

.calendar-calendar .date-box.green {
    background: none repeat scroll 0 0 #75ce75;
}

.inner .item .calendar {
    background: none;
}

.inner .stripe {
    background: none !important;
}

.greenCal, .redCal {
    color: #000;
    font-size: 1.1em;
    line-height: 1.2em;
    text-align: center;
}

#info-feedback-form .form-item-field-feedback-option label {
    display: none;
}

#info-feedback-form .form-item-field-feedback-option .form-radios label {
    display: block;
}

#metadata_suggestion_form {
    float: left;
    width: 100%;
}
/* This CSS is Added for the home page bottom fixed feedback box*/

#home-bottom-floating-wrapper {
    background: #242424 none repeat scroll 0 0;
    bottom: 0;
    color: white;
    height: 55px;
    left: 0;
    position: fixed;
    width: 100%;
    z-index: 10;
    text-align: center;
}

#searchForm label {
    display: none;
}

.lastupdated .last-review span {
    color: #131313;
    padding-left: 20px;
}
/*
.topen #home-bottom-floating-close {
    background: #242424 url("/sites/all/themes/ogplv3light/images/Collapse.png") no-repeat scroll center 6px;
}*/
#home-bottom-floating-close {
    background: #242424 url("/sites/all/themes/adaptivetheme/npi_adaptive/images/Collapse.png") no-repeat scroll center 6px;
    border-radius: 30px;
    cursor: pointer;
    margin: -85px auto 0;
    padding: 15px 35px 40px 27px;
    text-align: center;
    text-indent: -99999px;
    width: 10px;
}
